@model Helpdesk.Models.Notification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipient.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
