@model IEnumerable<Helpdesk.Models.SubCategory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubCategory Index";
}

<h2>SubCategory Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Priority</th>
                <th>SLA Value</th>
                <th>Fault Code</th>
                <th>SubCategory Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Priority.PriorityName)</td>
                    <td>@Html.DisplayFor(modelItem => item.SLAValue.SLAValueName)</td>
                    <td>@Html.DisplayFor(modelItem => item.faultCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubCategoryName)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SubCategoryId }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SubCategoryId }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SubCategoryId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
