@model IEnumerable<Helpdesk.Models.ClientProduct>

@{
    ViewBag.Title = "Client Products Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Products Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Client Name</th>
                <th>Product Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ApprovedRequest.ClientName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ClientProductId }, new { @class = "btn btn-primary btn-sm" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ClientProductId }, new { @class = "btn btn-info btn-sm" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ClientProductId }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
