@model Helpdesk.Models.CategorySubcategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategorySubcategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategories.faultCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategories.faultCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategorySubCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
